@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

* {
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}
